body {
    background-color: #FFD76B;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container principal */
.FormCadastro {
    background-color: white;
    width: 25%;
    height: 480px;
    margin: 150px auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Títulos */
.FormCadastro h1{
    grid-column: 2;
    text-align: center;
    color: #2c2107;
    text-shadow: 2px 2px 5px #FFD76B;
    font-weight: bold;
}

.FormCadastro h1 {
    font-size: 35px;
    position: relative;
    right: 40%;
    top: -25px;
}


/* Imagens */
.FormCadastro img {
    width: 200px;
    position: relative;
    top: 10px;
    margin: 0 auto;
    display: flex;
}


/* Inputs */
.input-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.input-1{
    position: relative;
    right: -2%;
    top: 20px;
}
input {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #ffcb05;
    box-shadow: 0 0 5px #ffcb05;
}

/* Botão */
.botao-acessar {
    display: block;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    width: 300px;
    margin: 25px auto 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 100px;
    right: 40%;
}

.botao-acessar:hover {
    background-color: #222;
}

/* Linha divisória */
hr {
    width: 90%;
    border: none;
    border-top: 3px solid #000000;
    margin: 25px 0;
    grid-column: 1 / -1;
    position: relative;
    top: -95%;
}

#icone-senha{
    position: relative;
    left: 65%;
    top: -42px;
    width: 15%;
    size: 15%;
}

/* Responsividade */
@media (max-width: 1024px) {
    .FormCadastro {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .FormCadastro {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 25px;
    }

    .FormCadastro img {
        width: 150px;
    }

    .inputs {
        width: 100%;
    }

    .botao-acessar {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .FormCadastro {
        width: 95%;
        padding: 20px;
    }

    .FormCadastro h1 {
        font-size: 22px;
    }

    input {
        width: 100%;
        font-size: 13px;
        padding: 8px;
    }
}
